/* Other rules */
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.App{
    height: 100vh;
}

/* Container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
h1{
    font-size: 45px;
    font-weight: bold;
    margin: 30px 0;
}
/* Form */
form {
    display: flex;
    flex-direction: column;
}
form input {
    width: 300px;
    border: 1px solid #d3d3d3;
    outline: none;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fcf9f9;
    padding-left: 10px;
    margin: 5px 0 25px;
}

.fa-eye, .fa-eye-slash {
    position: relative;
    z-index: 1;
    left: -30px;
    color: #7b7b7b;
    cursor: pointer;
}

form > label {
    font-size: 12px;
}

.submit-button:hover {
    cursor: pointer;
}

.edit-button {
    width: 250px;
    outline: none;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
}

.edit-button, .submit-button {
    color: #fff;
    background-color: #5c47d3;
    border: 1px solid #5c47d3;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}

/* Error */
.error {
    border: 1px solid red;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
.error-message {
    color: red;
    font-size: 12px;
}

/* Result */
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result > div {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(238, 234, 234);
    padding: 30px;
    border-radius: 5px;
}

.result > div > span:not(:last-child) {
    margin-bottom: 20px;
}
/* Footer */
footer {
    margin-top: 100px;
    width:100%;
    height:70px;   /* Height of the footer */
    display: flex;
    justify-content: center;
    align-items: baseline;
}
  
footer span {
    font-weight: bold;
}
  
/* MEDIA QUERIES  */

/* ----------- */
/*    1328px   */
/* ----------- */
@media (max-width: 1328px) {
    .container {
      max-width: 1328px;
    }
  }
  
  /* ----------- */
  /*    1080px   */
  /* ----------- */
  @media (max-width: 1250px) {
    .container {
      max-width: 1250px;
    }
  }
  
  /* ----------- */
  /*    1024px   */
  /* ----------- */
  @media (max-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* ----------- */
  /*    1120px    */
  /* ----------- */
  @media (max-width: 1120px) {
    .container {
      max-width: 1120px;
    }
  }
  
  /* ----------- */
  /*    960px    */
  /* ----------- */
  @media (max-width: 960px) {
    header span {
      margin-left: 20px;
      font-size: 38px;
    }
    .container {
      max-width: 960px;
    }
  }
  
  /* ----------- */
  /*    768px    */
  /* ----------- */
  @media (max-width: 768px) {
    .container {
      max-width: 768px;
    }
  }